# ===== SERVIDOR =====
PORT=3000

# ===== BASE DE DATOS =====
MONGO_URI=mongodb://localhost:27017/pincloud

# ===== JWT =====
JWT_SECRET=cambia_esto_por_una_clave_super_secreta_larga_123

# ===== AWS =====
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI
S3_BUCKET_NAME=pincloud-bucket

# ===== AWS SES =====
SES_FROM_EMAIL=noreply@tudominio.com
